<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
	<ion-card class="cartoes">
    <ion-card-header>
      <table>
        <tr>
          <td>
            <img style="display: inline-block; width: 70%; height: 70%;" src="assets/images/iconInfoServ.jpg">
          </td>
          <td valign="middle">
              <span style="display: inline-block;" class="titulo">Servidores Públicos</span>
          </td>
        </tr>
      </table>
    </ion-card-header>
  </ion-card>

</ion-content>
